<!DOCTYPE html>
<html lang="en" dir="ltr">
	<% include ../partials/head %>
	<body>
		<main class="container">
      <% include ../partials/home %>
      <% include ../partials/divider %>
      <% include ../partials/away %>
    </main>
	</body>
</html>
