<!DOCTYPE html>
<html lang="en" dir="ltr">
	<% include ../partials/head %>
	<body>
		<main class="container">
      <% include ../partials/home %>
      <% include ../partials/divider %>
      <% include ../partials/away %>
    </main>
		<footer class="footer status-notification">
			<% include ../partials/status %>
		</footer>
	<script type="module" src='./../../js/index.js'></script>
	</body>
</html>
