<article class="container-item away-team">
	<h1 class="name name-home">Team two</h1>
	<form class="counter counter-away" action="/awayscoreminus" method="POST">
		<button class="counter-btn counter-minus" type="submit">-</button>
	</form>
	<span class="score-container score-away"><p class="score-number"><%= scoreboard.away %></p></span>
	<form class="counter counter-away" action="/awayscoreplus" method="POST">
		<button class="counter-btn counter-plus" type="submit">+</button>
	</form>
</article>
