<article class="container-item away-team">
	<h1 class="name name-away">Team two</h1>
	<form class="counter counter-away" action="/score" method="POST">
		<input class="counter-btn counter-minus" type="button" value="-" />
		<span class="score score-away">0</span>
		<input class="counter-btn counter-plus" type="button" value="+" />
	</form>
</article>
