<article class="container-divider">
	<button class="app-btn start-btn" type="button">Start</button>
	<section class="app-value">
		<time class="countdown"></time>
		<span>Game 1</span>
	</section>
	<button class="app-btn reset-btn">Reset</button>
</article>
