<article class="container-divider">
	<button class="app-btn start-btn" type="button">Start</button>
	<section class="app-value">
		<time class="countdown">3:00</time>
		<span class="game-value"></span>
	</section>
	<button class="app-btn reset-btn">Reset</button>
</article>
