<article class="container-divider">
	<button class="app-btn start-btn" type="button">Start</button>
	<section class="app-value">
		<span class="countdown"><%= scoreboard.time %></span>
		<span>Game <%= scoreboard.game %></span>
	</section>
	<button class="app-btn reset-btn">Reset</button>
</article>
