<article class="container-divider">

	<section class="app-value">
		<time class="countdown"></time>
		<span class="game-value">Game 1</span>
	</section>
	<button class="app-btn reset-btn">Reset</button>
</article>
