<article class="container-divider">
	<button class="app-btn">Start</button>
	<section class="app-value">
		<span><%= scoreboard.time %></span>
		<span>Game <%= scoreboard.game %></span>
	</section>
	<button class="app-btn">Reset</button>
</article>
