<article class="container-item home-team">
	<h1 class="name name-home">Team one</h1>
	<form class="counter counter-home" action="/score" method="POST">
		<input class="counter-btn counter-minus" type="submit" value="-" />
		<span class="score score-home">0</span>
		<input class="counter-btn counter-plus" type="submit" value="+" />
	</form>
</article>
