<article class="container-item home-team">
	<h1 class="name name-home">Team one</h1>
	<form class="counter counter-home" action="/homescoreminus" method="POST">
		<button class="counter-btn counter-minus" type="submit">-</button>
	</form>
	<span class="score-container score-home"><p class="score-number"><%= scoreboard.home %></p></span>
	<form class="counter counter-home" action="/homescoreplus" method="POST">
		<button class="counter-btn counter-plus" type="submit">+</button>
	</form>
</article>
